<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <form action="#" th:action="@{/validateAction}" th:object="${codeGenerator}" method="post">
		<table>
			<tr>
				<td>Enter Token:</td>
                                <td><input type="text" id="token" name="token" /></td>
				<td th:if="${#fields.hasErrors('token')}" th:errors="*{token}">Title error message</td>
			</tr>
			<tr>
				<td><button type="submit">Submit post</button></td>
			</tr>
		</table>
	</form>
    </body>
</html>
